@model UploadFilesApp.Models.MultipleFilesUploadModel

@{
    ViewData["Title"] = "Multiple File Upload Sample indot .Net 7";

}

<form asp-action="MultipleFileUpload" asp-controller="UploadFile" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Choose Multiple Files</label>
            <input asp-for="Files" class="form-control" multiple/>
            <span asp-validation-for="Files" class="text-danger"></span>
        </div>
    </div>

    @if (@Model.Message !=null)
    {
    <div class="alert alert-success">
        @Model.Message
    </div>
    }
    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Upload Files</button>
        </div>
    </div>
</form>
